/.github/ @RealShadowNova
/.husky/ @RealShadowNova
/.vscode/ @RealShadowNova
/.yarn/ @RealShadowNova
/packages/serialize/ @RealShadowNova
/packages/provider/ @RealShadowNova
/scripts/ @RealShadowNova
LICENSE @eslachance
package.json @RealShadowNova
