/packages/serialize/**/*.ts @RealShadowNova
/packages/serialize/README.md @RealShadowNova
/packages/provider/**/*.ts @RealShadowNova
/packages/provider/README.md @RealShadowNova

/.github/ @RealShadowNova
/.husky/ @RealShadowNova
/.vscode/ @RealShadowNova
/.yarn/ @RealShadowNova
/scripts/ @RealShadowNova
LICENSE @eslachance
package.json @RealShadowNova
README.md @RealShadowNova
