/.github/ @RealShadowNova
/.husky/ @RealShadowNova
/.vscode/ @RealShadowNova
/.yarn/ @RealShadowNova
/packages/auto-ensure/ @RealShadowNova
/scripts/ @RealShadowNova
LICENSE @eslachance
package.json @RealShadowNova
